form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 50%;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input, select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="reset"] {
    background-color: #fc0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

button[type="reset"]:hover {
    background-color: #9c0000;
}

input.error {
    border-color: red;
}

table, tr, td, th {
    border: 2px solid black;
    border-collapse: collapse;
}